html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;

}

.display{
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.left-display{
    flex-basis: 38%;
    background-image: url(plants.avif);
    background-size: cover;
}

.right-display{
    flex-basis: 62%;
}

.form-input{
    display: flex;
    gap: 70px;
}


.left-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-entry{
    display: flex;
    flex-direction: column;
}

input{
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    width: 200px;
    
}

input:focus{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); 
    border-color: blue;
    outline: none;
}

#password:valid{
    border-color: green;
}

#password:invalid{
    border-color: red;
}

.form-input{
    
}

.right-display{
    background-color: rgb(249, 250, 251);
}

form{
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: 35vh;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#submit-btn{
    background-color: #596D48;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    border: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); 
    font-weight: bold;
    margin-bottom: 40px;

}

.header{
    height: 33vh;
    transform: translateY(50px);
    padding-left: 50px;
    font-size: 14px;
    padding-right: 100px;
}

.strip{
    background-color: rgb(0,0,0,0.6);
    height: 17vh;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

#odin-logo{
    height: 15vh;
    padding: 0px;
}

#strip-text{
    color: white;
    font-size: 60px;
    font-family: 'MyFont';
}

@font-face {
    font-family: 'MyFont';
    src: url(Norse-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

label{
    font-size: 12px;
    letter-spacing: 1.5px;
}

.footer{
    padding: 30px;
    padding-left: 40px;
}

#link{
    color: green;
    font-weight: bold;
    text-decoration: none;
}